body {
	padding-top:20px;
	padding-bottom:50px;
}
.clear {
	clear:both;
	margin-top:10px;
}
.page-search {
	padding-top:150px;
}
.page-search-result, .page-search-view {
	padding-top:30px;
}
.search-result-text:hover {
	background: #eee;
	border: 1px solid #ccc;
	font-weight: bold;
}
.search-result-text a:hover {
	text-decoration: none;

}
.search-view-text {
	border-left: none;
    border-right: none;
    border-top: none;
    background-color: #fff !important;
    cursor: text !important;
    border-radius:0;
    box-shadow: none;
}