body {
	min-height: 900px;
    padding-top: 70px;
}
.clear {
	clear: both;
	margin-bottom:20px;
}
.block-user, .block-command {
	padding:20px;
}
.block-user {
	background: red;
	border:1px solid red;
	color: #fff;
}
.block-command {
	background: pink;
	border:1px solid pink;
}